<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/210076/RestAssuredProject1">
        <classes>
             <class name="com.velai.Test1">
                <methods>
                    <include name="test_Login"/>
                </methods>
            </class>

            <class name="com.velai.Test2">
                <methods>
                    <include name="signUp"/>
                </methods>
            </class>


        </classes>
    </test>
</suite>